<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>名字</th>
      <th>头像</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
	<%if user.avatar_url %>
		<td><%= image_tag(user.avatar_url, :size => "200x150") %></td>
	<% else %>
		<td> no image </td>
	<% end %>
        <td><%= link_to '显示', user %></td>
        <td><%= link_to '编辑', edit_user_path(user) %></td>
        <td><%= link_to '删除', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新建用户', new_user_path %>
